table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid grey;
  text-align: center;
}

th, td {
  height: 100px;
  width: 200px;
}

div {
  display: inline-block;
  margin: 10px;
}
